/* RESET CSS */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: var(--font-body);
    font-weight: 400;
    color: rgb(var(--clr-light-base));

}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(var(--clr-bg-dark-base));

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
}

button,
input,
select {
    font-family: inherit;
    margin: 0;

}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


input,
select {
    height: 2.7rem;
    border-radius: var(--border-radius-md);
    font-size: 1rem;
    padding-inline: var(--rem-spacing-md);
    border: 2px solid rgb(var(--clr-bg-dark-l-200));
    background-color: rgb(var(--clr-bg-dark-l-100));
    cursor: text;
    color: rgb(var(--clr-light-base));
}

input {
    text-align: center;


}

input:focus,
select:focus {
    outline: none;
}

select {
    cursor: pointer;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    padding-inline: var(--rem-spacing-md);
    border: 1px solid rgb(var(--clr-primary-base));

    background-color: rgb(var(--clr-primary-base));
    font-size: 1rem;
    font-weight: 400;
    color: rgb(var(--clr-light-base));
    border-radius: var(--border-radius-md);

    cursor: pointer;
    transition: background-color var(--transition-fast), border-color var(--transition-fast);
}

button:hover {
    background-color: rgb(var(--clr-primary-d-100));
    border-color: rgb(var(--clr-primary-d-100));

}


/* range inputs */
input[type="range"] {
    cursor: pointer;
    border: none;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    padding-inline: 0px;
    background: transparent;
  }
  
  /* WebKit (Chrome, Safari, Opera) */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    background: rgba(var(--clr-accent-base), 0.3);
    border-radius: 4px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -6px;
    background: rgb(var(--clr-accent-base));
    border-radius: 50%;
  }
  
  /* Firefox */
  input[type="range"]::-moz-range-track {
    height: 8px;
    background: rgba(var(--clr-accent-base), 0.3);
    border-radius: 4px;
  }
  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgb(var(--clr-accent-base));
    border-radius: 50%;
  }



/* color pickers */

input[type="color"] {
    border-radius: var(--border-radius-round);
    height: 2.7rem;
    width: 2.7rem;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    display: none;
}

input[type="color"]::-webkit-color-swatch {
    display: none;
}