/* RESET CSS */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: var(--font-body);
    font-weight: 400;
    color: rgb(var(--clr-light-base));

}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(var(--clr-bg-dark-base));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
}

button,
input,
select {
    font-family: inherit;
    margin: 0;

}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


input,
select {
    height: 2.7rem;
    border-radius: var(--border-radius-md);
    font-size: 1rem;
    padding-inline: var(--rem-spacing-md);
    border: 2px solid rgb(var(--clr-bg-dark-l-200));
    background-color: rgb(var(--clr-bg-dark-l-100));
    cursor: text;
    color: rgb(var(--clr-light-base));
}

input {
    text-align: center;
}

input:focus,
select:focus {
    outline: none;
}

select {
    cursor: pointer;
}


button {
    height: 3rem;
    padding-inline: var(--rem-spacing-md);
    border: 1px solid rgb(var(--clr-primary-base));

    background-color: rgb(var(--clr-primary-base));
    font-size: 1rem;
    font-weight: 400;
    color: rgb(var(--clr-light-base));
    border-radius: var(--border-radius-md);

    cursor: pointer;
    transition: var(--transition-fast);
}

button:hover {
    background-color: rgb(var(--clr-primary-d-100));
    border-color: rgb(var(--clr-primary-d-100));

}


/* range inputs */
input[type="range"] {
width: 60px;
cursor: pointer;
}


/* color pickers */

input[type="color"] {
    border-radius: var(--border-radius-round);
    height: 2.7rem;
    width: 2.7rem;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    display: none;
}

input[type="color"]::-webkit-color-swatch {
    display: none;
}