.main-vertical-layout{
display: grid;
grid-template-columns: minmax(32px, 1fr) 400px 350px minmax(32px, 1fr);
column-gap: 24px;
}

.main-horizontal-layout{
    grid-template-rows: auto 1fr auto;
}

.full{
grid-column: 1/-1;
}


.gallery-screen-horizontal-layout{
    grid-template-rows: 80px 120px 1fr;
    row-gap: 24px;
    align-items: stretch;
}