.main-vertical-layout{
display: grid;
grid-template-columns: minmax(32px, 1fr) minmax(auto, 500px) minmax(350px, 350px) minmax(32px, 1fr);
column-gap: 24px;
row-gap: 24px;

}

.main-horizontal-layout{
    grid-template-rows: auto 1fr auto;
    
}

.full{
grid-column: 1/-1;
}


.gallery-screen-horizontal-layout{
    grid-template-rows: auto auto 1fr;
    row-gap: 24px;
    align-items: stretch;
    
}


/* editor containers layout settings */

/* .editor-horizontal-layout{
    grid-template-rows: auto minmax(auto,50vh) auto;
    
} */

.editor-horizontal-layout{
    grid-template-rows: 0px auto minmax(auto,12fr) auto 0px;
    
}

.editor-container {
    grid-column: 3;
    grid-row: 3;
    align-self: center;
}

.stickers-gallery-container {
    grid-column: 3;
    grid-row: 2/4;
    align-self: center;
}
.sharing-container{
    grid-column: 3;
    grid-row: 4;
    align-self: start;
}

.meme-container {
    grid-column: 2;
    grid-row: 3/4;
    align-self: stretch;
}

.action-btns {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}

.text-input-container {
    grid-column: 3;
    grid-row: 2;
    align-self: end;
}

.start-from-scratch-container {
    grid-column: 2;
    grid-row: 4;
    align-self: start;
}

/* .editor-container {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
}

.stickers-gallery-container {
    grid-column: 3;
    grid-row: 1/3;
    align-self: center;
}
.sharing-container{
    grid-column: 3;
    grid-row: 3;
    align-self: start;
}

.meme-container {
    grid-column: 2;
    grid-row: 2/3;
    align-self: stretch;
}

.action-btns {
    grid-column: 2;
    grid-row: 1;
    align-self: end;
}

.text-input-container {
    grid-column: 3;
    grid-row: 1;
    align-self: end;
} */