.secondary-btn{
    background-color: transparent;
    border-color: rgb(var(--clr-accent-base));
    color: rgb(var(--clr-accent-base));
}

.secondary-btn:hover{
    background-color: rgb(var(--clr-accent-base),0.1);
    border-color: rgb(var(--clr-accent-base));
}

.secondary-btn:active{
    background-color: rgb(var(--clr-accent-base),0.4);
}



