.editor-container {
    grid-column: 3;
    grid-row: 1/3;
    align-self: center;

    display: grid;
    grid-template-rows: auto 1fr auto;

    height: 474px;

    background-color: rgb(var(--clr-content-bg-dark-base));
}