.action-btns {
    justify-content: center;
    gap: var(--px-spacing-sm);

    padding: var(--px-spacing-md);
    background-color: rgb(var(--clr-content-bg-dark-base));
    border-radius: var(--border-radius-md);

}

.action-btn {
    text-transform: uppercase;
    width: 100%;
    font-size: 0.9em;
}

.action-btn::before {
    font-family: fa;
}

.action-btn.add-text-btn::before {
    /* content: '\f031'; */
    content: '\2b';
    padding-inline-end: 12px;
}

.action-btn.add-sticker-btn::before {
    /* content: '\f587'; */
    content: '\2b';
    padding-inline-end: 12px;
}

.action-btn.add-text-btn::after {
    content: 'Add Text';
}

.action-btn.add-sticker-btn::after {
    content: 'Add Sticker';
}

.action-btn.delete-element-btn {
    border-color: rgb(var(--clr-error-base));
    width: auto;
}

.action-btn.delete-element-btn:hover {
    background-color: rgba(var(--clr-error-base), 0.1);
}

.action-btn.delete-element-btn::before {
    content: '\f2ed';
    color: rgb(var(--clr-error-base));
}

.action-btn.delete-element-btn.disabled{
    border-color: rgb(var(--clr-disabled-base), 0.5);
    cursor: default;
    pointer-events: none;
}

.action-btn.delete-element-btn.disabled:hover{
background-color: transparent;
}

.action-btn.delete-element-btn.disabled::before {
    color: rgb(var(--clr-disabled-base), 0.5);
}