.action-btns {
    grid-column: 2;
    grid-row: 1;
    align-self: end;

    justify-content: center;
    gap: var(--px-spacing-sm);

    padding-block: var(--px-spacing-md);
    padding-inline: var(--px-spacing-mdl);
    background-color: rgb(var(--clr-content-bg-dark-base));

}

.action-btn {
    text-transform: uppercase;
    width: 100%;
}

.action-btn::before {
    font-family: fa;

}

.action-btn.add-text-btn::before {
    content: '\f031';
    padding-inline-end: 12px;
}

.action-btn.add-sticker-btn::before {
    content: '\f587';
    padding-inline-end: 12px;
}

.action-btn.add-text-btn::after {
    content: 'Text';
}

.action-btn.add-sticker-btn::after {
    content: 'Sticker';
}

.action-btn.delete-element-btn {
    border-color: rgb(var(--clr-error-base));
    width: auto;
}

.action-btn.delete-element-btn:hover {
    background-color: rgba(var(--clr-error-base), 0.1);
}

.action-btn.delete-element-btn::before {
    content: '\f2ed';
    color: rgb(var(--clr-error-base));
}

.action-btn.delete-element-btn.disabled{
    border-color: rgb(var(--clr-disabled-base), 0.5);
    cursor: default;  
}

.action-btn.delete-element-btn.disabled:hover{
background-color: transparent;
}

.action-btn.delete-element-btn.disabled::before {
    color: rgb(var(--clr-disabled-base), 0.5);
}