.search-container {
    grid-column: 2/-2;
    gap: var(--px-spacing-md);

    padding: var(--px-spacing-md);

    background-color: rgb(var(--clr-content-bg-dark-base));
}

.search-container .search-wraper {
    position: relative;
    align-self: stretch;
    align-items: center;
    /* gap: var(--px-spacing-md); */

}

.search-container .gallery-search-input {
    width: 100%;
    height: 48px;
    font-size: 1.1em;
}

.search-container .clear-search-btn {
    position: absolute;
    inset: auto 0 auto auto;
    height: 28px;
    padding-inline: var(--px-spacing-sm);
    margin-inline-end: 8px;
    border-radius: 6px;
    opacity: 1;
    transition: var(--transition-ex-fast);
}

.search-container .clear-search-btn.b-hidden{
    opacity: 0;
} 

.search-container .search-keys-cloud {
    column-gap: var(--px-spacing-md);
    row-gap: var(--px-spacing-sm);
    flex-wrap: wrap;
    font-size: 12px;
}

.search-container .search-keys-cloud p{
    padding-inline: var(--px-spacing-sm);
    padding-block: calc (var(--px-spacing-sm) / 2);
    
    cursor: pointer;
    transition: var(--transition-fast);
    background-color: rgba(var(--clr-light-base),0.1);
}
.search-container .search-keys-cloud :hover{
    color: rgb(var(--clr-accent-base));
}