.search-container {
    grid-column: 2/-2;
    gap: var(--px-spacing-md);

    padding: var(--px-spacing-md);

    background-color: rgb(var(--clr-content-bg-dark-base));
}

.search-container .search-wraper {
    position: relative;
    align-self: stretch;
    align-items: center;
    /* gap: var(--px-spacing-md); */

}

.search-container .gallery-search-input {
    width: 100%;
}

.search-container .clear-search-btn {
    position: absolute;
    inset: auto 0 auto auto;
    height: 28px;
    padding-inline: var(--px-spacing-sm);
    margin-inline-end: 8px;
    border-radius: 6px;
}

.search-container .search-keys-cloud {
    gap: var(--px-spacing-mdl);
}