.sharing-container{
    grid-column: 3;
    grid-row: 3;
    align-self: end;

    gap: var(--px-spacing-sm);
    justify-content: center;

    padding-block: var(--px-spacing-md);
    padding-inline: var(--px-spacing-mdl);

    background-color: rgb(var(--clr-content-bg-dark-base));
}