.start-from-scratch-container {
    grid-column: 2;
    align-self: end;
    
    padding-block: var(--px-spacing-md);
    padding-inline: var(--px-spacing-mdl);

    background-color: rgb(var(--clr-content-bg-dark-base));
}

.start-from-scratch-btn {
    width: 100%;
}