.start-from-scratch-container {
    grid-column: 2;
    grid-row: 3;
    align-self: start;
    
    padding: var(--px-spacing-md);

    background-color: rgb(var(--clr-content-bg-dark-base));
}

.start-from-scratch-btn {
    width: 100%;
}