.tabs-container {
    border-bottom: 2px solid rgb(var(--clr-content-bg-dark-l-100));
}

.tabs-container li {
    width: 100%;
}

.tabs-container .tab {

    width: 100%;
    padding-inline: var(--px-spacing-md);
    padding-block: var(--px-spacing-md);

    text-align: center;
    
    cursor: pointer;
    text-transform: uppercase;
    border-inline-end: 2px solid rgb(var(--clr-content-bg-dark-l-100));


}