.tabs-container {
    border-bottom: 2px solid rgb(var(--clr-content-bg-dark-l-100));
}

.tabs-container .tab {
    height: 40px;
    padding-inline: var(--px-spacing-md);

    cursor: pointer;
    text-transform: uppercase;
    border-inline-end: 2px solid rgb(var(--clr-content-bg-dark-l-100));


}