.templates-gallery-container {
    grid-column: 2/-2;
}

.templates-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: var(--px-spacing-md);
    align-items: start;

    padding: var(--px-spacing-md);
}

.templates-gallery .template-card {
    position: relative;
    overflow: hidden;

    justify-self: center;

    max-width: 330px;
    aspect-ratio: 1/1;

    cursor: pointer;
    border: 1px solid rgb(var(--clr-accent-base));
    border-radius: var(--border-radius-md);
}

.templates-gallery .template-card img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.templates-gallery .template-card::after {
    content: "EDIT \A TEMPLATE";
    white-space: pre;
    position: absolute;
    inset: 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 1.3rem;
    font-weight: 900;
    background-color: rgba(var(--clr-bg-light-base), 0.4);
    color: rgb(var(--clr-accent-base));
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);

    transition: var(--transition-fast);
    opacity: 0;
}

.templates-gallery .template-card:hover:after {
    opacity: 1;
}