.text-input-container {
    gap: var(--px-spacing-md);
    padding-block: var(--px-spacing-md);
    padding-inline: var(--px-spacing-md);
}

.text-input-container.c-hidden {
    display: none;
}


.text-input-container input[name="text-editor"] {
    width: 100%;
    height: 48px;
    font-size: 1.2em;
}

.text-input-container input[name="text-editor"].disabled-section {
    pointer-events: none;
    opacity: 0.5;
}

.text-tools-settings-btn {
    display: none;
}

.text-tools-settings-btn::before {
    content: '\f304';
    font-family: fa;
}

.text-tools-settings-btn.disabled-section {
    pointer-events: none;
    opacity: 0.5;
}

.close-editor-btn {
    display: none;
}