/* MEDIUM */

@media (width < 900px) {

    .action-btn.add-text-btn::after,
    .action-btn.add-sticker-btn::after {
        text-align: start;
        font-size: 0.8em;
        align-content: center;
    }



    .action-btn.add-text-btn::before,
    .action-btn.add-sticker-btn::before {
        padding-inline-end: 8px;

    }
}

/* SMALL */

@media (width < 700px) {

    /* layout */

    .main-content {
        padding-block: 0px;
    }

    .main-vertical-layout {
        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 8px;
    }

    .editor-horizontal-layout {
        grid-template-rows: auto auto minmax(auto, 1fr) auto;
    }

    .start-from-scratch-container {
        display: none;
    }

    .action-btns {
        grid-column: 1;
        grid-row: 1;
    }

    .text-input-container {
        grid-column: 1;
        grid-row: 2;

        padding-inline: var(--px-spacing-md);
    }

    .meme-container {
        grid-column: 1;
        grid-row: 3;
    }

    .sharing-container {
        grid-column: 1;
        grid-row: 4;
    }

    /* saved memes gallery */
    .meme-card-btns {
        opacity: 1;
    }


    /* header */
    .main-header {
        height: 60px;
        padding-inline: var(--px-spacing-md);
    }

    .logo {
        height: 30px;
    }

    /* footer */

    .main-footer {
        height: 30px;
    }

    /* action-btns */
    .action-btns {
        justify-content: stretch;
        padding-inline: var(--px-spacing-md);
    }

    .action-btn.add-text-btn::before,
    .action-btn.add-sticker-btn::before {
        padding-inline-end: 8px;
        font-size: 0.8em;
    }


    /* Tools container mobile view */
    .editor-container {
        display: none;
        padding: var(--px-spacing-lg);
    }

    .editor-container.visible {
        display: flex;
        position: fixed;
        top: 0;
        z-index: var(--z-index-over-menu);
        height: 100vh;
        width: 100vw;
    }

    .close-editor-btn {
        display: inline;
        margin-block-end: var(--px-spacing-md);
        text-transform: uppercase;
    }

    .text-tools-settings-btn {
        display: inline;
    }

    .text-input-container.c-hidden{
        display: flex;
    }

    /* stickers gallery mobile view */
    .stickers-gallery-container {
        display: none;
        padding: var(--px-spacing-lg);
    }

    .stickers-gallery-container.visible {
        display: flex;
        position: fixed;
        top: 0;
        z-index: var(--z-index-over-menu);
        height: 100vh;
        width: 100vw;
    }




    /* .flash-msg & modals */
    .flash-msg {
        min-width: 85vw !important;
        max-width: 85vw !important;
    }

    .backdrop {
        background-color: rgba(var(--clr-bg-dark-l-100), 0.9);
    }

    .share-modal {
        min-width: 80vw;
        padding: calc(var(--px-spacing-lg) * 1.5);
    }

    .share-modal .close-btn {
        top: var(--px-spacing-sm);
        right: var(--px-spacing-sm);

        height: 32px;
        width: 32px;
    }

    .meme-card-btns {
        position: absolute;
        z-index: 2;
        bottom: 0;
        transform: translate(0, 0px);

        opacity: 1;
        transition: var(--transition-fast);
    }

    /* header navigation */

    .burger-nav-btn {
        display: flex;
        position: absolute;
        inset: 8px 16px auto auto;
        z-index: calc(var(--z-index-menu) + 1);
    }

    .main-nav {
        position: fixed;
        inset: 0 0 auto auto;
        transform: translate(100%);

        height: 100vh;
        width: 100vw;
        z-index: var(--z-index-menu);

        background-color: rgb(var(--clr-content-bg-dark-base));

        transition: transform var(--transition-extra-slow);
    }

    .menu-open .main-nav {
        transform: translate(0);
    }

    .main-nav ul {
        flex-direction: column;
        align-self: start;
        width: 100%;
        margin-block-start: 60px;

        font-size: 1.5em;
    }

    .main-nav ul li {
        width: 100%;
        padding-block: var(--px-spacing-sm);
        border-block-end: 2px solid rgba(var(--clr-light-base), 0.1);
    }

    .main-nav ul li a {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main-nav ul li a:hover {
        background-color: transparent;
    }

}




/* Large */

@media (width < 1200px) {}

/* X-Large */

@media (width >=1200px) {}