/* SMALL */

@media (width < 700px) {

    .main-content {
        padding-block: 0px;
    }

    .main-vertical-layout {
        grid-template-columns: 8px 1fr 8px;
        column-gap: 0px;
        row-gap: 8px;
    }

    .start-from-scratch-container {
        grid-column: 2;
        grid-row: 1;
    }

    .action-btns {
        grid-column: 2;
        grid-row: 2;
    }

    .meme-container {
        grid-column: 2;
        grid-row: 3;
    }

    .editor-container {
        grid-column: 2;
        grid-row: 4;
    }

    .sharing-container {
        grid-column: 2;
        grid-row: 5;
    }

    .meme-card-btns {
        opacity: 1;
    }
}



/* MEDIUM */

@media (width < 900px) {}

/* Large */

@media (width < 1200px) {}

/* X-Large */

@media (width >=1200px) {}